# ENV para ejecutar dentro de Docker Compose
# VALORES DE EJEMPLO: SOLO PARA EVALUACIÓN. Reemplazá estos valores en entornos reales.
DATABASE_URL="postgresql://rdam:rdam_pass@postgres:5432/rdamdb"

# JWT
JWT_SECRET="69a1c5d7c5bcc2add403184c15f3910a7fff578a6e817d0bf547b1162b55439e" # SOLO PARA EVALUACIÓN
JWT_EXPIRY_CITIZEN="2h"
JWT_EXPIRY_INTERNAL="8h"
JWT_REFRESH_SECRET="4176648b3341d9ff2bcbfc5f5b587928a8e55ea11cb0e278040bae8fe8b3762b" # SOLO PARA EVALUACIÓN
JWT_REFRESH_EXPIRY="7d"

# OTP
OTP_EXPIRY_MINUTES=10
OTP_MAX_ATTEMPTS=3

# PlusPagos
PLUSPAGOS_URL="http://pluspagos-mock:3000"
PLUSPAGOS_MERCHANT_GUID="test-merchant-001"
PLUSPAGOS_SECRET_KEY="clave-secreta-campus-2026" # SOLO PARA EVALUACIÓN
PLUSPAGOS_ESTADO_APROBADO=3

# URLs
APP_URL="http://localhost:3001"
FRONTEND_URL="http://localhost:3000"
PLUSPAGOS_RETURN_URL_SUCCESS="http://localhost:3000/tramites/confirmacion?status=success"
PLUSPAGOS_RETURN_URL_ERROR="http://localhost:3000/tramites/confirmacion?status=error"

# Storage (MinIO dentro de Docker Compose)
# Usamos el servicio `minio` definido en docker-compose.yml
STORAGE_ENDPOINT="http://minio:9000"
STORAGE_REGION="us-east-1"
STORAGE_ACCESS_KEY="minioadmin"
STORAGE_SECRET_KEY="minioadmin" # SOLO PARA EVALUACIÓN
STORAGE_BUCKET_ADJUNTOS="rdam-adjuntos"
STORAGE_BUCKET_PDFS="rdam-pdfs"
STORAGE_FORCE_PATH_STYLE=true

# Si =1, Después de las migraciones, el contenedor ejecutará `npm run prisma:seed` una vez.
# Úsalo solo la primera vez; luego dejar en 0.
RUN_PRISMA_SEED=1

# Email (usar mailhog service)
SMTP_HOST="mailhog"
SMTP_PORT=1025
SMTP_USER=""
SMTP_PASS=""
EMAIL_FROM="noreply@rdam.gob.ar"
EMAIL_FROM_NAME="RDAM - Certificados Digitales"

# PDF
PDF_TOKEN_LENGTH=64

# Vencimientos
PAGO_EXPIRY_DAYS_PRD=60
PAGO_EXPIRY_DAYS_DEV=15
PDF_EXPIRY_DAYS_PRD=65
PDF_EXPIRY_DAYS_DEV=90

# App
NODE_ENV="development"
PORT=3001
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
